.logo-dashboard {
  top: 29px;
  left: 24px;
  position: absolute;
  cursor: pointer;
}
.dashboard {
  background-color: #F2F2F2;
  height: 100%;
}
.dashboard-account-wrapper {
  float: right;
  margin-top: 23px;
  display: flex;
  align-items: center;
}
.dashboard-account-initials {
 margin-right: 10px;
 background-color: #D9DCE1;
 color: #949EA8;
 font-size: 14px;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 font-family: HindMedium;
}
.dashboard-account-name {
  margin-right: 5px;
  font-size: 14px;
  color: #949EA8;
  cursor: pointer;
  max-width: 160px;
}
.dashboard-account-dropdown {
  margin-right: 10px;
  margin-top: 2px;
  font-size: 25px;
  color: #D9DCE1;
  cursor: pointer;
}
.account-dropdown-picker {
  position: relative;
  margin: 3em;
  padding: 1em;
  box-sizing: border-box;
  background: #bada55;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
  right: -2px;
  top: 45px;
  position: absolute;
  transform:rotateX(180deg);
}
.account-dropdown-picker::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  bottom: -2em;
  left: 50%;
  box-sizing: border-box;
  border: 1em solid black;
  border-color: transparent transparent #FFFFFF #FFFFFF;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -3px 3px 15px 0 rgb(132 123 123 / 40%);
}
.account-dropdown-modal {
  background-color: #FFFFFF;
  color: #949EA8;
  position: absolute;
  width: 162px;
  height: 88px;
  right: 20px;
  top: 80px;
  box-shadow: -1px 4px 15px rgba(0, 0, 0, 0.198087);
  border-radius: 14px;
}
.dropdown-routes {
  margin-left: 20px;
  font-family: HindMedium;
  font-size: 14px;
  cursor: pointer;
}
.create-event-btn {
  margin: 10px;
  background-color: #323C46;
  color: #FFFFFF;
  font-size: 35px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  font-family: HindMedium;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.create-event-btn:hover {
  background-color: #565D5A;
}
.create-event-btn-icon {
  margin-top: 10px;
  margin-right: 0.5px;
  font-size: 26px;
}
.events-view-wrapper {
  display: flex;
  background-color: #F2F2F2;
}
.events-sorter-mobile {
  left: 45px;
  top: 130px;
  position: absolute;
  display: flex;
  align-items: center;
}
.events-sorter-mobile-show {
  color: #D9DCE1;
  font-family: 'HindMedium';
  font-size: 14px;;
}
select {
  margin-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 5px;
  border: 0;
  background: none;
  font-family: 'HindSemiBold';
  width: 125px;
}
.events-sorter-mobile-icon {
  margin-left: -25px;
  margin-bottom: 3px;
  font-size: 30px;
  color: #323C46;
  cursor: pointer;
}

.events-sorter {
  left: 45px;
  top: 130px;
  position: absolute;
  display: flex;
  font-size: 12px;
  font-family: HindSemiBold;
  color: #D9DCE1;
  justify-content: space-between;
  width: 250px;
  cursor: pointer;
}
.events-sorter-all-active {
  color: #323C46;
  cursor: pointer;
}
.events-sorter-future-active {
  color: #323C46;
  cursor: pointer;
}
.events-sorter-past-active {
  color: #323C46;
  cursor: pointer;
}
.events-switcher {
  display: flex;
  right: 45px;
  top: 130px;
  position: absolute;
  color: #D9DCE1;
  justify-content: space-between;
  width: 60px;
  font-size: 24px;
  cursor: pointer;
}
.events-switcher-grid-active {
  color: #323C46;
  cursor: pointer;
}
.events-switcher-list-active {
  color: #323C46;
  cursor: pointer;
}
.events-gird-display {
  color: #323C46;
  height: 100vh;
}
.events-gird-item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 1rem;
  margin: 180px 50px auto;
  margin-bottom: 100px;
}
.events-gird-item {
  height: 296px;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.108696);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}
.event-date {
  margin-top: 32px;
  margin-left: 32px;
  color: #CACDD0;
  font-size: 14px;
  font-family: HindMedium;
}
.event-title {
  margin-top: 10px;
  margin-left: 32px;
  color: #323C46;
  font-size: 22px;
  font-family: HindMedium;
}
.event-owner {
  margin-top: 5px;
  margin-left: 32px;
  color: #7D7878;
  font-size: 14px;
  font-family: HindMedium;
}
.event-description-mobile {
  margin-top: 20px;
  margin-left: 32px;
  margin-right: 50px;
  color: #949EA8;
  font-size: 16px;
  font-family: HindLight;
}
.event-description-desktop {
  margin-top: 20px;
  margin-left: 32px;
  margin-right: 100px;
  color: #949EA8;
  font-size: 16px;
  font-family: HindLight;
}
.event-capacity {
  margin-top: 15px;
  margin-left: 32px;
  color: #949EA8;
  font-size: 14px;
  font-family: HindMedium;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}
.event-user {
  font-size: 15px;
  margin-right: 10px;
  margin-top: 1px;
}
.event-edit-button {
  width: 100px;
  height: 32px;
  background-color: #D9DCE1;
  border-radius: 4px;
  margin-top: 8px;
  text-align: center;
  line-height: 2.5;
  margin-right: 15px;
  font-size: 14px;
  color: #A9AEB4;
  font-family: HindMedium;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.event-edit-button:hover {
  background-color: #C4C9D1;
}
.event-join-button {
  width: 100px;
  height: 32px;
  background-color: #22D486;
  border-radius: 4px;
  margin-top: 8px;
  text-align: center;
  line-height: 2.5;
  margin-right: 15px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: HindMedium;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.event-join-button:hover {
  background-color: #20BD78;
}
.event-leave-button {
  width: 100px;
  height: 32px;
  background-color: #FF4081;
  border-radius: 4px;
  margin-top: 8px;
  text-align: center;
  line-height: 2.5;
  margin-right: 15px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: HindMedium;
  bottom: 0;
  right: 0;
  margin-bottom: 9px;
  cursor: pointer;
}
.event-leave-button:hover {
  background-color: #E73370;
}
.event-edit-button-deskt {
  width: 100px;
  height: 32px;
  background-color: #D9DCE1;
  border-radius: 4px;
  margin-top: 8px;
  text-align: center;
  line-height: 2.5;
  margin-left: 15px;
  font-size: 14px;
  color: #A9AEB4;
  font-family: HindMedium;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.event-edit-button-deskt:hover {
  background-color: #C4C9D1;
}
.event-join-button-deskt {
  width: 100px;
  height: 32px;
  background-color: #22D486;
  border-radius: 4px;
  margin-top: 8px;
  text-align: center;
  line-height: 2.5;
  margin-left: 15px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: HindMedium;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.event-join-button-deskt:hover {
  background-color: #20BD78;
}
.event-leave-button-deskt {
  width: 100px;
  height: 32px;
  background-color: #FF4081;
  border-radius: 4px;
  margin-top: 8px;
  text-align: center;
  line-height: 2.5;
  margin-left: 15px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: HindMedium;
  bottom: 0;
  right: 0;
  margin-bottom: 9px;
  cursor: pointer;
}
.event-leave-button-deskt:hover {
  background-color: #E73370;
}
.events-list-item-wrapper {
  display: inherit;
  margin: 180px 50px auto;
  margin-bottom: 100px;
}
.events-list-item {
  height: 136px;
  background-color: white;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 11%);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}
.event-list-title {
  margin-top: 16px;
  padding-top: 10px;
  margin-left: 32px;
  color: #323C46;
  font-size: 22px;
  font-family: HindMedium;
}
.event-list-description-mobile {
  margin-top: 3px;
  margin-left: 32px;
  margin-right: 50px;
  color: #949EA8;
  font-size: 16px;
  font-family: HindLight;
}
.event-list-owner {
  margin-top: 5px;
  margin-left: 32px;
  color: #7D7878;
  font-size: 14px;
  font-family: HindMedium;
}
.event-list-date {
  margin-left: 32px;
  color: #CACDD0;
  font-size: 14px;
  font-family: HindMedium;
}
.event-list-capacity {
  margin-left: 32px;
  color: #949EA8;
  font-size: 14px;
  font-family: HindMedium;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
.event-list-join-button {
  width: 100px;
  height: 32px;
  background-color: #22D486;
  border-radius: 4px;
  margin-top: 8px;
  text-align: center;
  line-height: 2.5;
  margin-right: 15px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: HindMedium;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
}
.events-list-item-deskt {
  height: 72px;
  background-color: white;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 11%);
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 6fr));
  grid-gap: 1rem;
  margin: 20px auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.event-list-title-deskt {    
  margin-left: 32px;
  color: #323C46;
  font-size: 18px;
  font-family: HindMedium;
  width: 183px;
}
.event-description-deskt {
  margin-left: 77px;
  color: #949EA8;
  font-size: 16px;
  font-family: HindLight;
  width: 200px;
}
.event-list-owner-deskt {    
  margin-left: 110px;
  color: #7D7878;
  font-size: 14px;
  font-family: HindMedium;
  width: 110px;
}
.event-list-date-deskt {    
  margin-left: 60px;
  color: #CACDD0;
  font-size: 14px;
  font-family: HindMedium;
  width: 205px;
}
.event-list-capacity-deskt {    
  margin-left: 110px;
  color: #949EA8;
  font-size: 14px;
  font-family: HindMedium;
  width: 100px;
}
.event-list-join-button-deskt {    
  width: 100px;
  background-color: #22D486;
  border-radius: 4px;
  text-align: center;
  line-height: 2.5;
  margin-left: 30px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: HindMedium;
  cursor: pointer;
}


