.my-events-text {
  left: 45px;
  top: 390px;
  position: absolute;
  display: flex;
  align-items: center;
  font-family: HindMedium;
  font-size: 22px;
}
.dashboard-account-bigger-initials {    
  margin-right: 10px;
  background-color: #D9DCE1;
  color: #949EA8;
  font-size: 85px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  text-align: center;
  line-height: 167px;
  font-family: HindMedium;
  position: fixed;
  top: 100px;
  left: 37%;
  z-index: 1;
}


.events-switcher-profile {
  display: flex;
  right: 45px;
  top: 390px;
  position: absolute;
  color: #D9DCE1;
  justify-content: space-between;
  width: 60px;
  font-size: 24px;
  cursor: pointer;
}


.profile-background {
  position: absolute;
  height: 184px;
  width: 90%;
  left: 5%;
  right: 5%;
  /* margin: 0 30px auto; */
  top: 176px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.108696);
  border-radius: 2px;
}

.profile-name {
  position: absolute;
  left: 42%;
  top: 267px;
  font-family: HindMedium;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  color: #323C46;
  z-index: 2;
}
.profile-email {
  position: absolute;
  left: 37%;
  top: 297px;
  font-family: HindLight;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  color: #949EA8;
  z-index: 2;
}